<div class="col-lg-6 offset-lg-3 mt-5">
    <div class="card">
      <h4 class="card-header">Reimbursements</h4>
      <div class="card-body">
        <form [formGroup]="createReimbForm" (ngSubmit)="onSubmit(createReimbForm.value)">
          <div class="form-group">
            <label for="type">Expenditure Type:</label>
            <select id="type" class="form-control" formControlName="type">
              <option value="" disabled>Choose a type</option>
              <option *ngFor="let type of types" [ngValue]="type">{{type.type}}</option>
            </select>
          </div>
          <div class="form-group">
            <label for="amount">Amount:</label>
            <input type="text" class="form-control" id="amount" formControlName="amount" placeholder="Enter the amount">
            <div *ngIf="submitted && f.amount.errors" class="invalid-feedback">
              <div *ngIf="f.amount.errors.required">Amount is required.</div>
            </div>
          </div>
          <div class="form-group">
            <label for="description">Expenditure Description:</label>
            <input type="text" class="form-control" id="description" formControlName="description" placeholder="Describe the expense">
            <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
              <div *ngIf="f.description.errors.required">Description is required</div>
            </div>
          </div>
          <div *ngIf="preview && preview !== null">
            <img [src]="preview" class="img-fluid img-thumbnail">
          </div>
          <div class="form-group">
            <label for="receipt">Receipt:</label>
            <input type="file"  (change)="fileUpload($event)">
            <!-- TODO unsure if errors needed here but is possibility -->
          </div>
          <button [disabled]="loading" class="btn btn-primary">
            <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1">Submit</span> -->
            Submit
          </button>
          <div *ngIf="error" class="alert alert-danger mt-3 mb-0">{{error}}</div>
        </form>
      </div>
    </div>
  </div>
  