<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/" routerLinkActive="true">ERS</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li *ngIf="auth.currentUserValue == null" class="nav-item active">
        <a class="nav-link" routerLink="/landing/login" routerLinkActive="true">Login<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="auth.currentUserValue == null" class="nav-item active">
        <a class="nav-link" routerLink="/landing/register" routerLinkActive="true">Register<span class="sr-only">(current)</span></a>
      </li>
      <li *ngIf="auth.currentUserValue != null" class="nav-item dropdown" ngbDropdown>        
        <!-- <a class="nav-link" routerLink="/users" routerLinkActive="true">My Reimbursements<span class="sr-only>">(current)</span></a> -->
        <a class="nav-link dropdown-toggle active" id="userDropdown" style="cursor: pointer;" ngbDropdownToggle>User</a>
        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="userDropdown" ngbDropdownMenu>
          <a ngbDropdownitem class="dropdown-item" routerLink="/users/create-ticket" routerLinkActive="true">Create Tickets</a>
          <a ngbDropdownItem class="dropdown-item" routerLink="/users/view-ticket" routerLinkActive="true">View Tickets</a>
        </div>
      </li>
      <li *ngIf="auth.currentUserValue != null && auth.currentUserValue.roleType == 'Manager'" class="nav-item dropdown" ngbDropdown>
        <!-- <a class="nav-link" routerLink="/admin" routerLinkActive="true">Admin</a> -->
        <a class="nav-link dropdown-toggle active" router id="adminDropdown" style="cursor: pointer;" ngbDropdownToggle>Admin</a>
        <div class="drowndown-menu" aria-labelledby="adminDropdown" ngbDropdownMenu>
          <a class="dropdown-item" routerLink="/admin/tickets" routerLinkActive="true">View Tickets</a>
        </div>
      </li>
      <!--<li *ngIf="auth.currentUserValue != null" class="nav-item active ml-auto">
        <a class="nav-link ml-auto" (click)="auth.logout()" href="#">Logout</a>
      </li>-->
    </ul>
    <a *ngIf="auth.currentUserValue != null" class="nav-link active ml-auto" (click)="auth.logout()" style="cursor: pointer; color: white">Logout</a>
  </div>
</nav>
<div class="container col-lg-10 offset-1">
  <router-outlet></router-outlet>
</div>